{% load tailwind_tags %}
{% load static %}
{% load sharesite_tags %}
{% set_timezones %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Sharedle {% endblock title %}</title>
    {% block base_includes %} {% endblock base_includes %}
    {% tailwind_css %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="/static/js/index.min.js"></script>
    {% block includes %} {% endblock includes %}
  </head>
  <body class="bg-white dark:bg-slate-900 dark:text-slate-200 font-sans-serif leading-normal tracking-normal">
    <header class="flex justify-center mt-5 items-center text-4xl font-bold tracking-wider pl-4 pr-4">
      <div class="flex justify-center items-center basis-full sm:basis-1/2 border-b-2 border-gray-500">
        <a href="/input/"><img src="{% static 'sharesite/edit.svg' %}" width="30px" class="ml-2 dark:invert"></a>
        <div class="w-7 ml-2"></div>
        <a href="/" class="mr-5 ml-5 grow text-center dark:text-white"><h1> SHAREDLE </h1></a>
        <a href="/groups/"><img src="{% static 'sharesite/group.png' %}" width="30px" class="mr-2 dark:invert"></a>
        <button type="button" class="transition duration-150 ease-in-out" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
          <img src="{% static 'sharesite/user.svg' %}" width="33px" class="mr-2 mb-1 dark:invert">
        </button>
      </div>
    </header>

    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto modal-color bg-clip-padding rounded-md outline-none text-current">
          <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 dark:border-gray-500 rounded-t-md">
            <h5 class="text-xl font-medium leading-normal" id="exampleModalScrollableLabel">
              {% if request.user.is_anonymous %}
                Login
              {% else %}
                User Information
              {% endif %}
            </h5>
            <button type="button"
              class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
              data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body relative px-4">
            {% if request.user.is_anonymous %}
              <form id="login-form" class="mt-3" action="/login/async/" method="post">
                {% csrf_token %}
                <div class="form-group mb-4">
                  <input name="username" type="text" class="w-full text-form-input" placeholder="Username">
                  <p class="text-xs ml-2">Usernames are case sensitive</p>
                </div>
                <div class="form-group mb-4">
                  <input name="password" type="password" class="w-full text-form-input" placeholder="Password">
                </div>
                <p id="incorrect-login" class="text-red-500 mb-3" style="display: none">Incorrect Username/Password</p>
                <button type="submit" class=" w-full form-button button-blue">
                  Log In
                </button>
              </form>
            {% else %}
              <form id="profile-form" class="mt-3 " action="/profile/" method="post">
                {% csrf_token %}
                <div class="form-group mb-4 mt-4 flex flex-col">
                  <div class="flex flex-row">
                    <p class="mt-2 mr-3">Set your timezone:</p>
                    <select name="timezone" class="mr-2 basis-1/2 text-form-input" aria-label="Timezone Select">
                      {% for timezone in common_timezones %}
                        <option value="{{timezone}}" {% if request.user.profile.timezone == timezone %}selected{% endif %}>{{timezone}}</option>
                      {% endfor%}
                    </select>
                  </div>
                  <div class="my-3">
                    <label class="form-check-label inline-block" for="flexSwitchCheckDefault">High Contrast Mode:</label>
                    <input class="form-check-input appearance-none w-9 rounded-full ml-3 h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm" type="checkbox" role="switch" name="contrast" id="flexSwitchCheckDefault" {% if request.user.profile.high_contrast %} checked {% endif %}>
                  </div>
                  <button type="submit" class="form-button button-blue mb-1">
                    Update settings
                  </button>
                </div>
              </form>
            {% endif %}
          </div>
          <div
            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 dark:border-gray-500 rounded-b-md">
            {% if not request.user.is_anonymous %}
              <a href="/accounts/logout/">
                <button type="button"
                class="inline-block form-button button-blue text-sm ml-1">
                  Log Out
                </button>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  	{% block content_wrapper %}
    {% block content %} {% endblock content %}
    {% endblock content_wrapper %}
    {% block footer %}
    {% endblock footer %}

    <script type="text/javascript">
      $('document').ready(function(){
        $("#login-form").submit(function(e) {
          e.preventDefault();
          $.ajax({
              url: '/login/async/',
              type: 'post',
              dataType: 'json',
              data: $('#login-form').serialize(),
              success: function(data) {
                if(data["result"] == "success") {
                  location.reload();
                } else {
                  $("#incorrect-login").show();
                }
              }
          });
        });
        $("#profile-form").submit(function(e) {
          e.preventDefault();
          $.ajax({
              url: '/profile/',
              type: 'post',
              dataType: 'json',
              data: $('#profile-form').serialize(),
              success: function(data) {
                if(data["result"] == "success") {
                  location.reload();
                }
              }
          });
        });
      });
    </script>
  </body>
</html>