{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Sharedle {% endblock title %}</title>
    {% block base_includes %} {% endblock base_includes %}
    {% tailwind_css %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    {% block includes %} {% endblock includes %}
  </head>
  <body class="bg-white font-sans-serif leading-normal tracking-normal">
    <header class="flex justify-center mt-10 items-center">
      <h1 class="text-4xl font-bold tracking-wider basis-1/2 border-b-2 border-gray-500 text-center"> SHAREDLE </h1>
    </header>
  	{% block content_wrapper %}
    {% block content %} {% endblock content %}
    {% endblock content_wrapper %}
    {% block footer %}
    {% endblock footer %}
  </body>
</html>