<div class="mt-4 grid grid-cols-5 {{spacing}} place-content-center">
  {% for tile in grid %}
    <div id="input-box-{{forloop.counter}}" 
         class="tile
        {% if tile.1 == 'G' %}
            {% if request.user.profile.high_contrast %}
                correct-hc
            {% else %}
                correct
            {% endif %}
        {% elif tile.1 == 'Y' %}
            {% if request.user.profile.high_contrast %}
                semi-correct-hc
            {% else %}
                semi-correct
            {% endif %}
        {% elif tile.1 == 'B' %}
            incorrect
        {% else %}
            empty
        {% endif %}
         {{width}} {{height}} {{text}} font-bold flex justify-center items-center"
         data-val="" data-tile="{{forloop.counter}}">
         {{tile.0}}
    </div>
  {% endfor %}
</div>