{% extends "sharesite/base.html" %}
{% load static %}

{% block content %}
  {% include "sharesite/day_browser.html" %}
  <div class="flex flex-col justify-center mt-6 items-center">
    <h2 class="text-2xl">Your Groups</h2>
    <div class="flex flex-wrap flex-row justify-center items-center">
      {% for group in groups %}
        <a href="/group/{{group.id}}/{% if day and not is_current_day %}?day={{day}}{% endif %}">
          <div class="flex flex-col justify-center items-center m-3 w-36 h-32 rounded-lg shadow-lg border-2 border-black dark:border-gray-400
                      {% if group.num_members == group.num_finished_curr %} bg-green-300 dark:bg-green-800 {% endif %}">
            <h3 class="text-xl text-center">{{group.name}}</h3>
            <div class="text-4xl">{{group.num_finished_curr}}/{{group.num_members}}</div>
          </div>
        </a>
      {% endfor%}
    </div>
    <button type="button" class="mt-5 form-button button-blue" data-bs-toggle="modal" data-bs-target="#groupModalCenter">
      Create New Group
    </button>
  </div>

  <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="groupModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
      <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto modal-color bg-clip-padding rounded-md outline-none text-current">
        <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 dark:border-gray-500 rounded-t-md">
          <h5 class="text-xl font-medium leading-normal" id="exampleModalScrollableLabel">
            New Group
          </h5>
          <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative p-4">
          <form  class="mt-3" action="/groups/" method="post">
            {% csrf_token %}
            <div class="form-group mb-4">
              <input name="name" type="text" class="text-form-input w-full" placeholder="Group Name">
            </div>
            <button type="submit" class=" w-full form-button button-blue">
              Create
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
