{% extends "sharesite/base.html" %}
{% load static %}

{% block content %}
  {% include "sharesite/day_browser.html" %}
  <div class="flex flex-col justify-center mt-6 items-center">
    <h1 class="text-2xl">{{group.name}}</h1>
    <button id="share-group-btn" type="button" class="mt-2 mb-2 px-6 py-1 text-white text-sm leading-tight rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg button-gray">
      Copy Invite Link
    </button>
    <div class="flex flex-wrap flex-row justify-center items-center">
      {% for player in player_data %}
        <div class="flex flex-col justify-center items-center m-3">
          <h1>{{player.name}}</h1>
          {% include "sharesite/grid.html" with width="w-8" height="h-8" spacing="gap-1" text="text-xl" grid=player.grid%}
        </div>
      {% endfor%}
    </div>
    {% if request.user == group.owner %}
      <button type="button" class="my-5 form-button button-gray" data-bs-toggle="modal" data-bs-target="#groupModalCenter">
        Manage Group
      </button>
    {% endif %}
  </div>
  <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="groupModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
      <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto modal-color bg-clip-padding rounded-md outline-none text-current">
        <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 dark:border-gray-500 rounded-t-md">
          <h5 class="text-xl font-medium leading-normal" id="exampleModalScrollableLabel">
            Group Settings
          </h5>
          <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative p-4">
          <form  class="mt-3 " action="/group/{{group.id}}/" method="post">
            {% csrf_token %}
            <div class="form-group mb-4 flex flex-row">
              <input name="name" value="{{group.name}}" type="text" class="mr-2 text-form-input" placeholder="Group Name">
              <button type="submit" class="form-button button-blue">
                Rename Group
              </button>
              <input type="hidden" name="action" value="rename">
            </div>
          </form>
          <form  class="mt-3 " action="/group/{{group.id}}/" method="post">
            {% csrf_token %}
            <div class="form-group mb-4 mt-4 flex flex-row">
              <select name="user" class="mr-2 basis-1/2 text-form-input" aria-label="Player Select">
                {% for player in player_data %}
                  <option value="{{player.pk}}">{{player.name}}</option>
                {% endfor%}
              </select>
              <button type="submit" class="form-button button-blue">
                Remove Person
              </button>
              <input type="hidden" name="action" value="remove">
            </div>
          </form>
          <form  class="mt-3 flex justify-center items-center" action="/group/{{group.id}}/" method="post">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Are you sure?')" class="w-1/2 mt-6 form-button button-red">
              Delete Group
            </button>
            <input type="hidden" name="action" value="delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $("#share-group-btn").click(function() {
      navigator.clipboard.writeText("{{domain}}/invite/{{group.id}}/{{group.secret}}/");
    });
  </script>
{% endblock %}