{% extends "sharesite/base.html" %}
{% load static %}

{% block includes %}
<script src="{% static 'sharesite/input.js' %}"></script>
<script src="{% static 'sharesite/words.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="flex flex-col justify-center mt-10 items-center">
    <div class="flex flex-col w-1/2 items-center">
      <p>You can just start typing, or paste in your results without clicking anything.</p>
      <p>If needed, you can use the text box below to gain keyboard focus.</p>
    </div>
    <input id="dummy-box" type="text" placeholder="text box" class="mt-2"></input>
    <div class="mt-4 grid grid-cols-5 gap-2 place-content-center">
      {% with ''|center:30 as range %}
      {% for _ in range %}
        <div id="input-box-{{forloop.counter}}" 
             class="tile empty w-16 h-16 text-4xl font-bold flex justify-center items-center"
             data-val="" data-tile="{{forloop.counter}}">
        </div>
      {% endfor %}
      {% endwith %}
    </div>
  </div>
{% endblock %}
