{% extends "sharesite/base.html" %}
{% load static %}

{% block content %}
  <div class="flex flex-col justify-center mt-10 items-center">
    <div class="flex flex-col w-1/2 text-center justify-center items-center">
      <p>
        Welcome to Sharedle, a place to share your wordle grids with your friends.
      </p>
      <br>
      {% if request.user.is_anonymous %}
        <p>You aren't signed in.</p><p>You can register below or sign in by clicking the user icon in the upper right.</p>
        <form class="mt-3" method="post">
          {% csrf_token %}
          <div class="form-group mb-4">
            {{ form.username.errors }}
            <input name="username" type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Username">
          </div>
          <div class="form-group mb-4">
            {{ form.password1.errors }}
            <input name="password1" type="password" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Password">
          </div>
          <div class="form-group mb-4">
            {{ form.password2.errors }}
            <input name="password2" type="password" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Confirm Password">
          </div>
          <button type="submit" class=" w-full px-6 py-2.5 bg-blue-600 text-white text-medium leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
            Sign up
          </button>
          <input type="hidden" name="next" value="{{request.GET.next}}">
        </form>
      {% else %}
        <p>
          You can click the "Edit" icon in the top left to enter your grid for the day,
          or click the "Groups" icon in the top right to view your groups.
        </p>
      {% endif %}
      <br>
      <p><b>You probably want to change your timezone in the user settings (top-right) so that you're viewing the correct wordle and don't get spoiled</b></p>
      <br>
      <p>
        This application was made on a whim, for fun, over a couple of days, it might be buggy, and I might be slow to fix bugs.
        <br>
        You can open issues (or much more preferably pull requests) here: <a class="text-blue-500" href="https://github.com/dlareau/sharedle">https://github.com/dlareau/sharedle</a>)
      </p>
    </div>
  </div>
{% endblock %}
