{% extends "sharesite/base.html" %}
{% load static %}

{% block includes %}
<script src="{% static 'sharesite/input.js' %}"></script>
<script src="{% static 'sharesite/words.js' %}"></script>
<script type="text/javascript">
  var correctWord = "{{correct_word}}";
  var grid = "{{grid}}";
</script>
{% endblock %}

{% block content %}
  <div class="flex flex-col justify-center mt-10 items-center">
    <div class="flex flex-col w-full sm:w-1/2 pl-3 pr-3">
      <p class="m-1">You can just start typing, or paste in your results without clicking anything.</p>
      <p class="m-1">It is encouraged to type in your words so that once everyone is finished for the day,
         you can see each other's guesses. If you simply paste in your grid, your guesses will not
         be visible.</p>
      <p class="m-1">If needed, you can use the text box below to gain keyboard focus.</p>
    </div>
    <form id="wordle-data" method="post" class="flex flex-col justify-center items-center">
      {% csrf_token %}
      <div class="mt-4 grid grid-cols-5 gap-2 place-content-center">
        {% with ''|center:30 as range %}
        {% for _ in range %}
          <div id="input-box-{{forloop.counter}}" 
               class="tile empty sm:w-16 sm:h-16 w-14 h-14 text-4xl font-bold flex justify-center items-center"
               data-val="" data-tile="{{forloop.counter}}">
          </div>
        {% endfor %}
        {% endwith %}
      </div>
    </form>
    {% if grid == "" %}
      <input id="dummy-box" onkeyup="textboxToGrid();" onkeydown="textboxToGrid();" type="text" placeholder="text box" class="mt-2 text-black uppercase"></input>
      <button id="form-submit" type="submit" class="my-6 inline-block form-button button-blue">Submit</button>
    {% else %}
      <button id="form-submit" type="submit" class="my-6 inline-block form-button button-red">Clear</button>
    {% endif %}
  </div>
{% endblock %}
